In [1]:
#  ОБУЧЕНИЕ С УЧИТЕЛЕМ 
#  Задание 1
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston
boston = load_boston()
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [16]:
data=boston.data
feature_names=boston.feature_names
X = pd.DataFrame(data, columns=feature_names)
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [19]:
target=boston.target
y = pd.DataFrame(target, columns=['price'])
y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [26]:
#создаем модель и обучаем её
from sklearn.linear_model import LinearRegression

In [27]:
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [33]:
y_pred = lr.predict(X_test)
y_pred.shape

(152, 1)

In [47]:
check_test = pd.DataFrame({
    "y_test": y_test['price'],
    "y_pred": y_pred.flatten()}, columns=['y_test', 'y_pred'])
check_test.head(10)

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
76     20.0  23.146689
316    17.8  17.392124
140    14.0  14.078599
471    19.6  23.036927
500    16.8  20.599433

In [48]:
#Расчет R2 коэффициент детерминации
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.7112260057484943

In [50]:
#Расчет средней квадратической ошибки
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred)

21.517444231177134

In [51]:
#Расчет абсолюной ошибки
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred)

3.1627098714573902

In [56]:
# Задание 2
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
from sklearn.model_selection import GridSearchCV
parameters = {'n_estimators': [1000],
              'max_depth': [12],
              'random_state':[42]}
model.fit(X_train, y_train.values[:,0])

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [57]:
y_prdct = model.predict(X_test)
y_prdct.shape

(152,)

In [58]:
#Расчет R2 коэффициент детерминации
from sklearn.metrics import r2_score
r2_score(y_test, y_prdct)

0.8762930535086927

In [ ]:
#Коэффициент R2 в данном случае больше, следовательно, достоверность 
#соответствия прогноза фактическим значениям выше и модель работает лучше